body{
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    background-color: #0d1b2a;
    border: 1px solid white;
}

.banner img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.showCards , .movieCards{
    /* display: grid;
    grid-template-columns: repeat(4, 1fr);
    place-items: center; */
    display: flex;
    flex-wrap: wrap;
    margin: 3rem 0px;
    gap: 1rem;
}

.showCards .cards , .movieCards .cards{
    width: 220px;
    flex: 1 0 220px;
    border-radius: 10px;
    background-color: black;
}

.showCards img , .movieCards img{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.showCards .about{
    display: none;
}