body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  background-color: #001219;
}


.banner-container::-webkit-scrollbar {
  display: none;
}

.img-cover {
  width: 100%;
  height: 100%;
  object-fit: cover;
  pointer-events: none;
}

.showCards,
.movieCards,
.UpcomingCards,
.airingToday {
  /* display: grid;
    grid-template-columns: repeat(4, 1fr);
    place-items: center; */
  display: flex;
  flex-wrap: wrap;
  margin: 3rem 0px;
  gap: 1rem;
}

.showCards .cards,
.movieCards .cards,
.UpcomingCards .cards,
.airingToday .cards {
  width: 220px;
  flex: 1 0 220px;
  border-radius: 10px;
  background-color: black;
  object-fit: cover;
}

.bio {
  width: 220px;
  /* overflow-x: hidden; */
}

.showCards img,
.movieCards img,
.UpcomingCards img,
.airingToday img {
  border-top-left-radius: 10px;
  width: 100%;
  height: 100%;
  border-top-right-radius: 10px;
}

.mybio {
  background: linear-gradient(
    360deg,
    hsla(0, 0%, 0%, 1) 0%,
    rgba(0, 0, 0, 0.499) 100%
  );
}
