*{
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
}


.navbar{
    left: 50%;
    transform: translateX(-50%);
    /* From https://css.glass */
background: rgba(255, 255, 255, 0.1);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
border: 1px solid rgba(255, 255, 255, 0.3);
}

#mobileMenu{
    display: none;
}

.hero-text{
    top: 70%;
    left: 50%;
    transform: translate(-50% , -70%);
}

.main , h1{
    font-family: "Sansita Swashed", system-ui;
}

.top-products img{
    cursor: pointer;
}

.top-products img:hover{
    transform: rotate(80deg) scale(1.4) translate(-1rem, 3rem);
    transition: 0.3s all ease-in-out;
}

.discountBio .main{
    font-family: "Sansita Swashed", system-ui;
    line-height: 50px;
}

@media (min-width : 768px){
    #mobileMenu{
        display: none;
    }    
}

@media (max-width : 509px)
{
    .main{
        font-size: 24px;
        line-height: normal;
    }

    .hero-text .buttons{
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin-top: 2px;
    }

    .hero-text button{
        margin-top: 15px;
        font-size: 10px;
        width: 100%;

    }

    .hero-tag{
        font-size: 14px;
        line-height: normal;
    }

    .hero-text{
        top: 100%;
        left: 50%;
        transform: translate(-50% , -100%);
    }

    .navbar .logo{
        width: 42px;
    }

    .navbar i{
        font-size: 22px;
    }

    .navbar{
        height: fit-content;
    }
}