* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body {
  background-color: black;
  color: white;
  overflow-x: hidden;
  border: 1px solid;
  scroll-behavior: smooth;
}

span {
  display: block;
}

.color1 {
  width: 57vw;
  height: 720px;
  background: linear-gradient(180deg, #7531ba 0%, #9261c45e 100%);
  border-radius: 50%;
  filter: blur(5rem);
  position: absolute;
  top: -482px;
  left: 21px;
  z-index: -1;
}

.color2 {
  background: radial-gradient(
    closest-side,
    rgb(224, 227, 41) 0%,
    rgb(171, 88, 30) 100%
  );
  width: 600px;
  height: 600px;
  border-radius: 50%;
  position: absolute;
  filter: blur(400px);
  top: 20rem;
  left: 50%;
  border: 1px solid white;
  transform: translateX(-50%);
}

.color3 {
  background: radial-gradient(closest-side, #51c26f 70%, #f2e901 100%);
  width: 400px;
  height: 400px;
  border-radius: 0%;
  position: absolute;
  filter: blur(400px);
  top: 80rem;
  left: 50%;
  border: 1px solid white;
  transform: translateX(-50%);
}

.color4 {
  background: linear-gradient(
    135deg,
    hsla(273, 100%, 73%, 1) 20%,
    hsla(187, 100%, 78%, 1) 100%
  );
  width: 400px;
  height: 400px;
  border-radius: 0%;
  position: absolute;
  filter: blur(300px);
  top: 200rem;
  left: 50%;
  border: 1px solid white;
  transform: translateX(-50%);
}

.color5 {
  background: linear-gradient(
    180deg,
    hsla(339, 62%, 25%, 1) 0%,
    hsla(25, 62%, 20%, 1) 100%
  );
  width: 500px;
  height: 400px;
  border-radius: 0%;
  position: absolute;
  filter: blur(260px);
  top: 260rem;
  left: 50%;
  border: 1px solid white;
  transform: translateX(-50%);
}

.navbar {
  width: 90vw;
  height: 70px;
  margin: 0px auto;
  border-radius: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 40px;
  background-color: rgba(252, 252, 252, 0.129);
  margin-top: 2rem;
}

.navbar .navbar-items {
  display: flex;
  gap: 20px;
  margin-left: 9rem;
}

.navbar #menu {
  font-size: 2rem;
  display: none;
  color: crimson;
  cursor: pointer;
}

.navbar-items li {
  font-size: 18px;
  line-height: auto;
  color: gainsboro;
  list-style: none;
  cursor: pointer;
}

.navbar-items li:hover {
  color: white;
}

.navbar #navbtn {
  background-color: #d9d9d9;
  color: black;
  border-radius: 30px;
  width: 189px;
  height: 53px;
  text-align: center;
  font: bold;
  font-size: 20px;
}

.mobileNav {
  position: absolute;
  top: 0%;
  width: 95vw;
  height: 100vh;
  left: -100%;
  padding: 0px 40px;
  background: rgba(255, 255, 255, 0.08);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(7.1px);
  -webkit-backdrop-filter: blur(7.1px);
  z-index: 9;
}

.mobileNav #navBar-close {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.mobileNav #closeMenu {
  font-size: 3rem;
  color: crimson;
  cursor: pointer;
}

.mobileNav li {
  list-style: none;
  line-height: 170px;
  font-size: 20px;
}

.mobileNav button {
  border: none;
  width: 100%;
  font-size: 22px;
  font-weight: 600;
  height: 5%;
  border-radius: 20px;
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 120px 0px;
  height: 85vh;
}

.hero h2 {
  font-size: 80px;
  font: bolder;
  background: linear-gradient(
    90deg,
    hsla(346, 100%, 62%, 1) 0%,
    hsla(10, 87%, 70%, 1) 0%,
    hsla(36, 100%, 61%, 1) 52%,
    hsla(259, 100%, 50%, 1) 100%
  );

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.hero p {
  color: gray;
  line-height: 25px;
  font-size: 18px;
}

.hero .buttons {
  display: flex;
  gap: 20px;
}

.hero button {
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-size: 18px;
  padding: 12px 24px;
  margin-top: 20px;
}

.hero #playstore {
  background: rgba(255, 255, 255, 0.07);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(7.1px);
  -webkit-backdrop-filter: blur(7.1px);
  border: 1px solid rgba(255, 255, 255, 0.58);
  color: white;
}

.bitcoin {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  width: fit-content;
  margin: 0px auto;
}

.bitcoin .upper {
  display: flex;
  gap: 20px;
  margin: 10px 0px;
  justify-content: space-between;
  flex-wrap: wrap;
}

.bitcoin .lower {
  display: flex;
  gap: 20px;
  justify-content: center;
  margin: 10px 0px;
  flex-wrap: wrap;
}

.bitcoin .cards {
  width: 130px;
  height: 130px;
  border-radius: 16px;
  background: rgba(255, 255, 255, 0.08);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(7.1px);
  -webkit-backdrop-filter: blur(7.1px);
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1 0 130px;
}

.bitcoin .cards img {
  width: 3.5rem;
}

.bitcoin #element1,
.bitcoin #element2 {
  position: absolute;
  z-index: -1;
}

.bitcoin #element2 {
  right: 3rem;
  bottom: -10px;
}

.crypto-price {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: fit-content;
  margin: 0px auto;
  grid-gap: 40px;
  padding: 140px 0px;
  position: relative;
}

.crypto-price .price-card {
  width: 400px;
  height: 280px;
  background: rgba(255, 255, 255, 0.08);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(7.1px);
  -webkit-backdrop-filter: blur(7.1px);
  padding: 60px 50px;
}

.crypto-price .price-card div {
  border-radius: 50%;
  border: 1px solid;
  width: 60px;
  height: 60px;
  position: absolute;
  right: -20px;
  top: -20px;
}

.crypto-price #card1 h5 {
  background: linear-gradient(
    90deg,
    hsla(346, 68%, 43%, 1) 0%,
    hsla(36, 63%, 47%, 1) 40%
  );

  font-weight: bold;
  font-size: 40px;

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.crypto-price #card2 h5 {
  background: linear-gradient(
    90deg,
    hsla(248, 58%, 46%, 1) 0%,
    hsla(234, 45%, 72%, 1) 40%
  );

  font-weight: bold;
  font-size: 40px;

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.crypto-price #card3 h5 {
  background: linear-gradient(
    90deg,
    hsla(122, 57%, 44%, 1) 0%,
    hsla(151, 51%, 28%, 1) 40%
  );

  font-weight: bold;
  font-size: 40px;

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.crypto-price #card4 h5 {
  background: linear-gradient(
    90deg,
    hsla(43, 85%, 54%, 1) 0%,
    hsla(43, 72%, 25%, 1) 60%
  );

  font-weight: bold;
  font-size: 40px;

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.crypto-price span {
  color: #ffffff;
  opacity: 40%;
  font-weight: bolder;
  font-size: 20px;
  margin-top: 0.4rem;
}

.crypto-price p {
  color: #ffffff;
  font-size: 25px;
  margin-top: 1.5rem;
}

.earn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 80px 0px;
}

.earn img {
  width: 13vw;
}

.earn h2 {
  font-size: 72px;
  font-weight: bold;
  text-align: center;
}

.earn .earn-steps {
  display: flex;
  text-align: center;
  gap: 10rem;
  padding-top: 20px;
}

/* trive section  */

.trive {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 120px 200px;
}

.trive .userCard {
  width: 31%;
  height: fit-content;
  object-fit: cover;
  position: relative;
}

.trive #element1,
#element2 {
  position: absolute;
  width: 5rem;
  z-index: -1;
}

.trive #element1 {
  bottom: 20px;
  left: -20px;
}

.trive #element2 {
  bottom: 60px;
  right: -30px;
}

.trive .upperCard img {
  width: 100%;
  height: 100%;
}

.trive .upperCard {
  position: relative;
  flex-direction: column;
  box-shadow: 4px 4px 380px 5px #d8f3dc;
  border-top-left-radius: 33px;
  border-top-right-radius: 33px;
  background-color: white;
}

.trive .upperCard header,
footer {
  position: absolute;
}

.trive header {
  top: 10px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0px 15px;
}

.trive footer {
  bottom: 10px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 10px 4%;
}

.trive .upperCard p {
  border: 0.2px solid white;
  border-radius: 30px;
  padding: 3px 5%;
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(7.1px);
  font-weight: 200;
  cursor: pointer;
}

.trive #p4 {
  font-weight: 500;
}

.trive .twitter {
  border-bottom-left-radius: 33px;
  border-bottom-right-radius: 33px;
  height: 12rem;
  color: black;
  background: rgba(255, 255, 255, 0.3);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(7.1px);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 0px 15px;
  margin-top: -8px;
}

.twitter header {
  display: flex;
  padding: 0px;
  align-items: center;
}

.trive .userimg {
  filter: contrast(1);
  width: 2rem;
}

.twitter .user {
  display: flex;
  align-items: center;
  gap: 4px;
}

.twitter #userName {
  font-size: 12px;
  font-weight: 600;
}

.twitter #followers {
  font-size: 12px;
  font-weight: 300;
}

.twitter .follow {
  background-color: rgb(213, 213, 213);
  text-align: center;
  font-size: 15px;
  padding: 3px 10px;
  border-radius: 32px;
  border: none;
  box-shadow: 1px 1px 20px black;
}

.twitter .tweet {
  font-size: 12px;
  font-weight: 500;
}

.twitter .buttons {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.twitter button {
  width: 126px;
  height: 39px;
  border-radius: 24px;
  border: none;
  cursor: pointer;
  color: white;
  margin-top: 20px;
}

.twitter #btn1 {
  background-color: rgba(0, 0, 0, 0.575);
}

.twitter #btn2 {
  background-color: #3580ef;
}

.trive .bio h6 {
  font-size: 50px;
  margin-bottom: 20px;
}

.trive .bio p {
  font-size: 16px;
  color: rgba(255, 255, 255, 0.703);
}

.trive .bio button {
  background: transparent;
  color: #5283ff;
  border: none;
  font-size: 20px;
  margin-top: 20px;
}

.rarity {
  text-align: center;
  padding: 70px 0px;
}

.rarity h2 {
  font-size: 72px;
}

.rarity p {
  font-size: 18px;
  color: rgba(255, 255, 255, 0.503);
}

.rarity .rarity-bg {
  width: 22rem;
}

.rarity .rarity-table {
  display: flex;
  justify-content: space-between;
  text-align: left;
  padding: 60px 20px;
  border: 1px solid rgba(128, 128, 128, 0.526);
  width: 70vw;
  margin: 0px auto;
  border-radius: 40px;
  margin-top: 7rem;
}

.rarity li {
  list-style: none;
  color: rgba(255, 255, 255, 0.503);
}

.rarity-table header {
  display: flex;
}

.rarity-table .lists li {
  line-height: 100px;
}

.rarity-table .lists p {
  color: white;
}

.team {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.team h2 {
  font-size: 72px;
}

.team .myteam {
  display: flex;
  justify-content: space-evenly;
  margin-top: 5rem;
}

.team .teamImg {
  width: 12vw;
  height: 30vh;
  border-radius: 32px;
  object-fit: cover;
}

.team .teamProfile p {
  font-size: 20px;
  line-height: 50px;
  font-weight: bolder;
}

.team .teamProfile span {
  font-size: 15px;
  color: gray;
}

#team1,
#team2,
#team3 {
  width: 12vw;
  height: 30vh;
  border-radius: 32px;
}

.faq {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.faq h2 {
  font-size: 72px;
  margin-bottom: 4rem;
}

.faq .questions {
  width: 74vw;
  height: 12vh;
  border-radius: 20px;
  border: 1px solid;
  margin: 10px 0px;
  display: flex;
  flex-direction: column;
  padding: 0px 20px;
  justify-content: center;
}

.faq header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.faq h6 {
  font-size: 22px;
}

.faq i {
  font-size: 22px;
}

.faq p {
  font-size: 12px;
  width: 90%;
  margin-top: 0.3rem;
}

@media (max-width: 1037px) {
  .trive {
    flex-direction: column;
    padding: 120px 75px;
  }

  .trive .userCard {
    width: 66%;
    margin-top: 4rem;
  }
}

@media (max-width: 914px) {
  .crypto-price {
    grid-template-columns: 1fr;
  }

  .crypto-price .price-card {
    width: 70vw;
  }

  .navbar .navbar-items,
  #navbtn {
    display: none;
  }

  .navbar #menu {
    display: block;
  }
}
